<h3>Interaktionsdesigner</h3>
<p>
	Sie finden in diesem Blog <strong>{{ paginator.total_posts }} Einträge</strong> zu effektiver und <strong>moderner Webentwicklung</strong>. Viel Spaß beim stöbern.
	Nutzen Sie <a href="https://www.google.de/?q=site:interaktionsdesigner.de">Google</a> um die Inhalte schnell zu durchsuchen.
</p>
<p>
	Der Interaktionsdesigner ist ein Blog von Paul Lunow und beschäftigt sich zur Zeit primär mit spannenden Web Technologien, Zeitmanagement und effektiver Projektsteuerung.
</p>
<p>Folgen Sie mir auf <a href="https://www.twitter.com/paul_lunow">Twitter</a>.</p>
<p><a href="https://www.linkedin.com/in/paul-lunow/">Sprechen Sie mich an</a>, wenn Sie an Notion interessiert sind.</p>