<h3>Interaktionsdesigner</h3>
<p>
	Sie finden in diesem Blog <strong>{{ paginator.total_posts }} Einträge</strong> zu effektiver und <strong>moderner Webentwicklung</strong>. Viel Spaß beim stöbern.
	Nutzen Sie <a href="https://www.google.de/?q=site:interaktionsdesigner.de">Google</a> um die Inhalte schnell zu durchsuchen.
</p>
<p>
	Der Interaktionsdesigner ist ein Blog von Paul Lunow und beschäftigt sich zur Zeit primär mit Javascript. AngularJS, NodeJS und alle spannenden Technologien dazwischen.
</p>
<p>Folgen Sie mir auf <a href="http://www.twitter.com/paul_lunow">Twitter</a>.</p>