<h3>Interaktionsdesigner</h3>
<p>
	Sie finden in diesem Blog <strong>{{ paginator.total_posts }} Einträge</strong> zu effektiver und <strong>moderner Webentwicklung</strong>. Viel Spaß beim stöbern.
	Nutzen Sie <a href="https://www.google.de/?q=site:interaktionsdesigner.de">Google</a> um die Inhalte schnell zu durchsuchen.
</p>
<p>
	Der Interaktionsdesigner ist ein Blog von Paul Lunow und beschäftigt sich zur Zeit primär mit Javascript. Genauer mit
	<strong>Node.js</strong> und <strong>AngularJS</strong>. Und natürlich alle Projekte dazwischen.
</p>